:root {
    --color-primary: #17d1d1;
    --black: #121212;
    --gray: #181818;
    --white: #FFFFFF;
    --dark-white: #B3B3B3;
    --dialog-light-gray: #353535;
}

/* Root */

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

/* Scrollbar */

html, body {
    scrollbar-color: var(--color-primary) !important;
    scrollbar-width: 50px;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1.3px var(--black);
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #14b1b1;
}
* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 300;
}
::selection {
    background-color: var(--color-primary);
}
* a {
    color: var(--white);
    -webkit-tap-highlight-color: transparent;
}
* a:hover {
    color: var(--color-primary);
}

/* Header */

header {
    height: 80px;
    width: 100%;
    text-align: center;
    position: fixed;
    transition: top 0.5s;
    top: 0;
    z-index: 100;
    transition: height 0.3s, opacity 0.2s;
}
header .header-items {
    width: 100%;
    height: 75px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;
}
header #links {
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    display: block;
    transition: opacity 0.2s;
}
header li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}
header li a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    padding: 5px 15px;
    transition: 0.5s;
    white-space: nowrap;
}
header li a:hover {
    color: var(--color-primary);
}
header li a.active {
    font-weight: 700;
}
header li a.active:hover {
    color: var(--white);
}
header .header-items .mobile .hamburger {
    display: none;
}
header .header-items .mobile .hamburger i {
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
}
header .header-items .hamburger i::selection {
    background: transparent;
}
header .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .mobile .hamburger #hamburgerIcon {
    transition: 0.5s;
}

/* Gradient canvas */

#gradient-canvas {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    filter: blur(50px);
    --gradient-color-1: #043D5D;
    --gradient-color-2: #032E46;
    --gradient-color-3: #23B684;
    --gradient-color-4: #0F595E;
}

/* Hero */

.hero {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 150px 10% 5% 10%;
}
.hero .hero-text {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero .hero-text h1 {
    font-size: 120px;
    font-weight: 700;
    margin: 0px;
    color: var(--white);
    opacity: .75;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 10px;
    z-index: 2;
}
.hero .hero-text h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    color: var(--white);
    opacity: .75;
    text-align: left;
    line-height: 1.2;
    margin-bottom: 10px;
    z-index: 2;
}
.hero .hero-text p {
    font-size: 20px;
    font-weight: 300;
    color: var(--white);
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 3vh;
    width: 50%;
    z-index: 2;
    margin-left: 1vh;
}
.hero .hero-image {
    width: 30%;
    height: 100%;
    margin-left: 10%;
}
.hero .hero-image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    right: 0;
}

/* Sections */

.section-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
}
.section-title {
    font-size: 50px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    line-height: 1.2;
    margin: 3% 0;
}
.section-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: var(--color-primary);
    margin: 10px auto 0 auto;
    border-radius: 10px;
}

/* Project cards */

.cards {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10vh auto;
}
.cards .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.cards .container:not(:last-child) {
    margin-bottom: 10vh;
}
.cards .content-image {
    width: 20vh;
    height: 100%;
}
.content-text h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    color: var(--white);
    line-height: 1.5;
}
.content-text {
    height: 100%;
    width: 75%;
    margin-left: 5%;
}
.content-text p {
    font-size: 20px;
    font-weight: 300;
    color: var(--white);
    z-index: 2;
}

/* Button */

.button {
    border-radius: 20px;
    background-color: var(--color-primary);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span.arrow:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 100px;
    transition: 0.5s;
}
.button span.url:after {
    content: '🔗';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 100px;
    transition: 0.5s;
}
.button span.download:after {
    content: '📥';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 100px;
    transition: 0.5s;
}
.button span.donateSymbol:after {
    content: '💰';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 100px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 50px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.btn-small {
    max-width: 300px;
}

/* Animations */

.reveal {
    transition: 1s all ease;
    opacity: 0;
    transform: translateY(100px);
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
@keyframes reveal-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes reveal-right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.auto-reveal-left {
    animation-name: reveal-left;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}
.auto-reveal-right {
    animation-name: reveal-right;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

/* Projects */

.project-hero {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 150px 10% 5% 10%;
}
.project-hero-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
}
.project-hero-title-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.project-hero-title-text h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    color: var(--white);
    text-align: center;
    line-height: 1.0;
}
.project-hero-title-text p {
    font-size: 30px;
    font-weight: 300;
    color: var(--white);
    margin: 3vh 0 10px 3vh;
    z-index: 2;
}
.project-hero-title img {
    width: 100px;
    height: 100px;
    margin: 0 3% 0 0;
}
.typing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.typing-container #feature-text {
    font-size: 25px;
    color: var(--white);
}
.typing-container .input-cursor {
    margin-left: 8px;
    border: 2px solid var(--white);
    animation: blink .6s linear infinite alternate;
    border-radius: 2px;
    padding-top: 10px;
    background-color: var(--white);
}
.typing-container a {
    cursor: pointer;
    color: var(--dark-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0 5%;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.showcase {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.showcase-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}
.showcase .showcase-item {
    margin: 0;
}

/* Dialog */

.dialog {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.dialog .btn-close {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    background-color: var(--gray);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}
.dialog .btn-close:hover {
    transform: translateX(-10px);
}
.dialog .donate {
    width: 50%;
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray);
}
.dialog .donate h2 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 45px;
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
.dialog .donate p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--white);
    text-align: center;
}
.dialog-payments {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.dialog-payments a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    background-color: var(--dialog-light-gray);
    color: var(--white);
    width: 200px;
    height: 200px;
}
.dialog-payments a:hover {
    transform: translateY(-10px);
}
.dialog-payments img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.dialog-payments p {
    font-size: 20px;
    text-align: center;
}
.dialog .leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    color: white;
}
.dialog .leaderboard h2 {
    padding: 15px;
    margin: 0;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.dialog .leaderboard p {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

/* Decorations */

span.bold {
    font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    header {
        height: 150px;
    }
    header .header-items {
        flex-direction: column;
        height: 145px;
        justify-content: center;
    }
    header .header-items #links {
        display: none;
        margin: 3vh 10px 0 10px;
    }
    header .header-items .mobile {
        width: 100%;
    }
    header .header-items .mobile .hamburger {
        display: block;
    }
    .hero-image {
        display: none;
    }
    .hero {
        flex-direction: column;
        margin: 250px 0 5% 0;
        width: 100%;
    }
    .hero .hero-text p {
        width: 100%;
        margin: 0;
    }
    .showcase-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .cards .container {
        flex-direction: column;
        align-items: center;
    }
    .cards .content-image {
        margin-bottom: 5%;
        width: 50vw;
    }
    .project-hero {
        margin: 200px 10% 5% 10%;
    }
    .button {
        width: 100%;
    }
    .project-hero-title {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
    .project-hero-title img {
        margin: 0;
    }
    .dialog-payments {
        flex-direction: column;
    }
    .dialog-payments a {
        height: 150px;
        width: 150px;
    }
    .dialog-payments img {
        height: 40px;
        width: 40px;
    }
    .dialog-payments p {
        font-size: 20px !important;
    }
}
@media screen and (max-width: 900px) {
    .hero .hero-text h1 {
        font-size: 40px;
    }
    .hero .hero-text h2 {
        font-size: 30px;
    }
    .project-hero-title h1 {
        font-size: 50px;
    }
    .project-hero-title-text {
        flex-direction: column;
        align-items: center;
    }
    .project-hero-title-text p {
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .project-hero {
        margin: 250px 10% 5% 10%;
    }
    .project-hero-title img {
        margin: 0 0 3vh 0;
    }
    .typing-container {
        flex-direction: column;
        align-items: center;
    }
    .typing-container a {
        margin: 3vh 0 0 0;
    }
}
@media screen and (max-width: 600px) {
    .dialog .donate {
        width: 80%;
    }
    .dialog .donate h2 {
        font-size: 30px;
    }
    .dialog .donate p {
        font-size: 20px;
    }
}
@media screen and (max-width: 280px) {
    .hero .hero-text h1 {
        font-size: 30px;
    }
    .hero .hero-text h2 {
        font-size: 20px;
    }
    .project-hero .project-hero-title h1 {
        font-size: 40px;
    }
    .project-hero .typing-container #feature-text {
        font-size: 20px;
    }
}