ErrorDocument 400 https://www.vojtech-adam.cz/error/400
ErrorDocument 401 https://www.vojtech-adam.cz/error/401
ErrorDocument 403 https://www.vojtech-adam.cz/error/403
ErrorDocument 404 https://www.vojtech-adam.cz/error/404
ErrorDocument 503 https://www.vojtech-adam.cz/error/503

RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]